<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, default_image: 'sample.jpg' %>);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-12 col-md-8">
      <h2 class="mb-3">My Lists</h2>
      <div class="cards">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-movie">
            <img src="<%= bookmark.movie.poster_url %>" />
            <div class="card-movie-description">
              <div class="align-middle">
                <h2><%= bookmark.movie.title %><span> <i class="fas fa-circle" style="font-size: 8px"></i> <%= bookmark.movie.rating %> <i class="fas fa-star"></i></span></h2>
                <p><%= bookmark.movie.overview %></p>
              </div>
              <div class="card-movie-infos mt-3 align-items-center">
                <div class="d-flex align-items-center"><i class="fas fa-quote-left"></i><p class="card-movie-comment ml-2"><%= bookmark.comment %></p></div>
                <%= link_to 'delete', bookmark_path(bookmark), class: 'text-danger card-movie-comment', method: :delete, data: { confirm: "Are you sure?" }%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-5 mt-md-0">
      <%= link_to 'Add a new movie', new_list_bookmark_path(@list), class: 'cta cta-light' %>
      <%= link_to 'Delete list', list_path(@list), method: :delete, class: 'cta cta-light', data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
    <% @list.reviews.each do |review| %>
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
    <% end %>
    </div>
    <div class="col-12 col-md-6">
      <%= simple_form_for [@list, @review] do |f| %>
      <%= f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
        <%= b.radio_button + b.label %>
      <% end %>
      <%= f.input :content %>
      <%= f.submit class: 'cta cta-light' %>
      <% end %>
    </div>
  </div>
</div>
